/* 
    Document   : styles
    Created on : Jan 24, 2013, 9:00:30 AM
    Author     : roxana
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

table.list td{
    padding:10px;
    margin: 0;
    border: 1px solid;
    text-align: center;
}

table.list th{
    padding:10px;
    margin: 0;
    border: 1px solid;
    text-align: center;
    background-color: #98BF21;
}

table.list{
    padding:10px;
    border-collapse: collapse;
    margin: 0;
    text-align: center;
}

